In [3]:
import pandas as pd
from pathlib import Path

In [5]:
# Load ppty price csv

property_price_df = pd.read_csv(Path('./Resources/res_dwell_st.csv'))
property_price_df

,DATAFLOW,MEASURE,REGION,FREQ,TIME_PERIOD,OBS_VALUE,UNIT_MEASURE,UNIT_MULT,OBS_STATUS,OBS_COMMENT
0,ABS:RES_DWELL_ST(1.0.0),2,4,Q,2011-Q3,253939.4,AUD,6,NaN,NaN
1,ABS:RES_DWELL_ST(1.0.0),2,4,Q,2011-Q4,257468.3,AUD,6,NaN,NaN
2,ABS:RES_DWELL_ST(1.0.0),2,4,Q,2012-Q1,253614.0,AUD,6,NaN,NaN
3,ABS:RES_DWELL_ST(1.0.0),2,4,Q,2012-Q2,254790.2,AUD,6,NaN,NaN
4,ABS:RES_DWELL_ST(1.0.0),2,4,Q,2012-Q3,254105.2,AUD,6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1930,ABS:RES_DWELL_ST(1.0.0),5,3,Q,2021-Q1,598.9,AUD,3,NaN,NaN
1931,ABS:RES_DWELL_ST(1.0.0),5,3,Q,2021-Q2,644.6,AUD,3,NaN,NaN
1932,ABS:RES_DWELL_ST(1.0.0),5,3,Q,2021-Q3,685.2,AUD,3,r,NaN
1933,ABS:RES_DWELL_ST(1.0.0),5,3,Q,2021-Q4,744.4,AUD,3,r,NaN
1934,ABS:RES_DWELL_ST(1.0.0),5,3,Q,2022-Q1,787.3,AUD,3,p,NaN

In [14]:
# Load interest rate csv
ir_df = pd.read_csv(Path('./Resources/f1.1-data.csv))
ir_df

SyntaxError: EOL while scanning string literal (489645808.py, line 2)